.form-container {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 2rem 1rem;
  gap: 2rem;
}
.contact-title {
  font-size: 25px;
}

.form-contact {
  display: flex;
  flex-direction: column;
  width: 600px;
  gap: 1rem;
}

.form-name {
  display: flex;
  flex-direction: column;
}

.form-surname {
  display: flex;
  flex-direction: column;
}

.form-email {
  display: flex;
  flex-direction: column;
}

.form-message {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  border-radius: 10px;
  border: 0;
  height: 30px;
}

textarea {
  border-radius: 10px;
  border: 0;
  height: 100px;
}

.form-btn {
  border-radius: 10px;
  background-color: var(--brown-header);
  color: white;
  border: 1px;
  cursor: pointer;
}

/* ----------------------------MEDIAQUERIES------------------ */

@media (max-width: 768px) {
  .form-contact {
    width: 300px;
  }
}
