.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  gap: 1rem;
  width: 275px;
  height: 420px;
  background-color: white;
}

.card h2,
.card h3 {
  text-align: center;
}

.img-card {
  width: 260px;
}

/* --------------------mediaquieries---------------------- */
@media (max-width: 992px) {
  .card {
    width: 230px;
    height: 375px;
  }

  .img-card {
    width: 215px;
  }

  .card h2 {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .card {
    width: 200px;
    height: 330px;
  }

  .img-card {
    width: 185px;
  }

  .card h2 {
    font-size: 1rem;
  }

  .card p {
    font-size: 0.8rem;
  }

  .card h3 {
    font-size: 1rem;
  }
}
