header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--brown-header-light);
  height: 90px;
  position: absolute;
  top: 0;
}

.logo-caffe {
  height: 80px;
}

.navbar-list {
  display: flex;
  gap: 2rem;
  font-weight: 600;
  color: white;
}

.menu-tools {
  display: flex;
  gap: 2rem;
  color: white;
}

.menu-icon {
  display: none;
}

/* ----------------------------MEDIAQUERIES------------------ */
@media (max-width: 992px) {
  .logo-caffe {
    height: 70px;
  }

  .navbar-list {
    font-size: 0.8rem;
  }

  .menu-tools {
    font-size: 0.8rem;
  }
}

@media (max-width: 768px) {
  .logo-caffe {
    height: 70px;
  }

  .navbar-list {
    font-size: 0.7rem;
  }

  .menu-tools {
    font-size: 0.7rem;
    gap: 1rem;
  }
}
@media (max-width: 576px) {
  .menu-icon {
    display: flex;
  }

  .cart-icon,
  .login-icon {
    display: none;
  }
  .menu-tools {
    gap: 0.5rem;
  }
}
