.featured_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1200px;
  height: 2700px;
  position: relative;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  position: absolute;
  top: -40px;
  width: 992px;
}

/* ----------------------------MEDIAQUERIES------------------ */
@media (max-width: 992px) {
  .featured_container {
    width: 768px;
    height: 1180px;
  }
  .cards-container {
    width: 768px;
  }
}

@media (max-width: 768px) {
  .featured_container {
    width: 576px;
    height: 1390px;
  }
  .cards-container {
    width: 576px;
  }
}

@media (max-width: 576px) {
  .featured_container {
    width: 325px;
    height: 2830px;
  }
  .cards-container {
    width: 325px;
  }
}
