@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
  list-style: none;
  font-family: "poppins", "montserrat", "sanz serif";
  /* border: solid red 1px; */
}

:root {
  --pastel-back: rgb(239, 224, 231);
  --brown-header: #4b2514e4;
  --brown-header-light: #60362293;
  --white: rgb(226, 223, 223);
}

html {
  scroll-behavior: smooth;
}
